
    <form>
       
        <div class="form-group">
  
            <label for="lyrics"><b>Lyrics:</b></label>
            <textarea class="form-control" id="description" placeholder="Your favourite lyrical quote" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
  
                <label for="name"><b>Author name:</b></label>
                <input type="text" placeholder="Author name" required class="form-control" id="name">
      
            </div>
            <button class="btn btn-info text-center" type="submit">Submit lyrical quote</button>
    </form>
